.git
.venv
__pycache__
*.pyc
.env
data/bronze/*
data/silver/*
data/gold/*
*.duckdb
*.duckdb.wal
dbt/data_platform/target
dbt/data_platform/logs
dbt/data_platform/dbt_packages
.ipynb_checkpoints
.dagster
